.RollingDice {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
}
.RollingDice-container {
  display: flex;
  justify-content: center;
}
.RollingDice button {
  width: 15em;
  padding: 1.5em;
  font-size: 1em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
}

.RollingDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}
